*{
    padding: 0px;
    margin: 0px;
}
#cline{
    background-color: black;
    padding: 10px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.scard {
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 230px;
    background-color: rgb(1, 1, 1);
    border-radius: 10px;
}
.scard:hover{
    background-color: rgb(249, 249, 249);
    transform: scale(1.2);
    transition-delay: .2s;
    transition-duration: .2s;
   transition-timing-function: ease-in;

}
.up {
    border-radius: 10px;
    height: 75%;
    width: 100%;
}

.dn {
    color: black;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
    height: 25%;
}
#flx{
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.up img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
.pg{
    font-weight: bold;
    font-size: large;
    font: sans-serif;
}

#wtch {
    width: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 0;
}
#wtch:hover {
    background-color:blueviolet;
    border: 1px solid blueviolet;
    color:azure;
}
#shr {
    width: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    padding: 5px 0;
}
#shr:hover {
    color:blueviolet;
}